@model Warehouse
@{
    if (Model != null && Model.Id != 0) 
        ViewData["Title"] = "Изменение склада";
    else
        ViewData["Title"] = "Добавление склада";

    var Types = (SelectList)ViewData["Types"]!;
}

<h1>@ViewData["Title"]:</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    @Html.EditorForModel()
    
    <label>Тип</label>
    <p>
    <select name="WarehouseType" asp-items="Types"></select>
    </p>

    @if(Model != null && Model.Id != 0)
        @Html.Hidden("id", Model.Id)
    
    <p>
        <input class="btn btn-default" type="submit" value="Отправить" />
    </p>
</form>
<form asp-action="Index" method="get">
    <input class="btn btn-default" type="submit" value="Назад" />
</form>