@model Nomenclature
@{
    if (Model != null && Model.Id != 0) 
        ViewData["Title"] = "Изменение номенклатуры";
    else
        ViewData["Title"] = "Добавление номенклатуры";

    var Types = (SelectList)ViewData["Types"]!;
    var newWorth = Model == null ? 0 : Model.Worth;
}

<h1>@ViewData["Title"]:</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    @Html.EditorForModel()
    
    <label>Тип</label>
    <p>
    <select name="TypeId" asp-items="Types"></select>
    </p> 

    <label>Стоимость</label>
    <p>
    <input type="number" name="worth" value="@newWorth"/>
    </p>

    @if(Model != null && Model.Id != 0)
        @Html.Hidden("id", Model.Id)
    
    <p>
        <input class="btn btn-default" type="submit" value="Отправить" />
    </p>
</form>
<form asp-action="Index" method="get">
    <input class="btn btn-default" type="submit" value="Назад" />
</form>