@{
    ViewData["Title"] = "Авторизация";
}

<style>
#outer {
  width:100%;
  display: flex;
  justify-content: center;
}
</style>

<div id="outer">
    <div id="inner">
        <h1>Автоматизированная система управления складом</h1>
        <div id="outer">
            
            <div id="inner">
                <div id="outer">
                <div id="inner">
                    <h4>Имя пользователя:</h4>
                </div>
            </div>
            <div id="outer">
                <div id="inner">
                    <input type="text" />
                </div>
            </div>
            <br />
            <div id="outer">
                <div id="inner">
                    <h4>Пароль:</h4>
                </div>
            </div>
            <div id="outer">
                <div id="inner">
                    <input type="text" />
                </div>
            </div>
            
            <br /> <br />

            <div id="outer">
                <div id="inner">
                    <input class="btn btn-default" type="button" value="Вход" />
                </div>
            </div>
            </div>
        </div>
    </div>
</div>



  

