@{
    ViewData["Title"] = "Справочники";
}

<h1>Справочники</h1>
  
<table class="table">
    <tr width="200">
        <th>
            Характеристики:
        </th>
        <th>
            <form asp-action="PropertyTable" method="get">
                <input class="btn btn-default" type="submit" value="Изменить" />
            </form>
        </th>
    </tr>
    <tr>
        <th>
            Единицы измерения:
        </th>
        <th>
            <form asp-action="ChooseTable" method="get">
                <input class="btn btn-default" type="submit" value="Изменить" />
            </form>
        </th>
    </tr>
    <tr>
        <th>
            Типы номенклатур:
        </th>
        <th>
            <form asp-action="ChooseTable" method="get">
                <input class="btn btn-default" type="submit" value="Изменить" />
            </form>
        </th>
    </tr>
    <tr>
        <th>
            Типы складов:
        </th>
        <th>
            <form asp-action="ChooseTable" method="get">
                <input class="btn btn-default" type="submit" value="Изменить" />
            </form>
        </th>
    </tr>
    <tr>
        <th>
            Типы расхождений:
        </th>
        <th>
            <form asp-action="ChooseTable" method="get">
                <input class="btn btn-default" type="submit" value="Изменить" />
            </form>
        </th>
    </tr>
    <tr>
        <th>
            Статусы расхождений:
        </th>
        <th>
            <form asp-action="ChooseTable" method="get">
                <input class="btn btn-default" type="submit" value="Изменить" />
            </form>
        </th>
    </tr>
    <tr>
        <th width="200">
            Причины инвентаризаций:
        </th>
        <th>
            <form asp-action="ChooseTable" method="get">
                <input class="btn btn-default" type="submit" value="Изменить" />
            </form>
        </th>
    </tr>
</table>

