@model IEnumerable<WarehouseType>
@{
    ViewData["Title"] = "Типы склада";
}

<h1>Список типов склада</h1>
  
<table class="table">
    <tr>
        <th>
            Наименование
        </th>
    </tr>
    @foreach (WarehouseType wt in Model)
    {
        <tr>
            <td>@wt.Name</td>
            <td align="center" width="100">
                    <form asp-action="AddWarehouseType" method="get"  asp-route-id="@wt.Id">
                        <input class="btn btn-default" type="submit" value="Изменить" />
                    </form>
            </td>
            <td align="center" width="100">
                    <form asp-action="RemoveWarehouseType" method="post"  asp-route-id="@wt.Id">
                        <input class="btn btn-default" type="submit" value="Удалить" />
                    </form>
            </td>
        </tr>
    }
</table>

<form asp-action="AddWarehouseType" method="get">
    <p>
        <input class="btn btn-default" type="submit" value="Добавить" />
    </p>
</form>

 <form asp-action="Index" method="get">
    <input class="btn btn-default" type="submit" value="Назад" />
</form>