@model Discrepancy
@{
    ViewData["Title"] = "Добавление расхождения";

    var Products = (SelectList)ViewData["Products"]!;
    var Statuses = (SelectList)ViewData["Statuses"]!;
    var Types = (SelectList)ViewData["Types"]!;
}

<h1>@ViewData["Title"]:</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    
    <label>Продукт</label>
    <p>
    <select name="ProductId" asp-items="Products"></select>
    </p> 

    <label>Статус</label>
    <p>
    <select name="StatusId" asp-items="Statuses"></select>
    </p> 

    <label>Тип</label>
    <p>
    <select name="TypeId" asp-items="Types"></select>
    </p> 

    @Html.Hidden("InventarizationId", Model.InventarizationId)
    
    <p>
        <input class="btn btn-default" type="submit" value="Отправить" />
    </p>
</form>
<form asp-action="Index" method="get">
    <input class="btn btn-default" type="submit" value="Назад" />
</form>