@model NomenclatureProperty
@{
    ViewData["Title"] = "Изменение арактеристики";
}

<h1>@ViewData["Title"]:</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label>Значение</label>
    <p>
    <input type="number" name="Value" value="@Model.Value"/>
    </p>
    @Html.Hidden("NomenclatureId", Model.NomenclatureId)
    @Html.Hidden("PropertyId", Model.PropertyId)
    
    <p>
        <input class="btn btn-default" type="submit" value="Отправить" />
    </p>
</form>
<form asp-action="Index" method="get">
    <input class="btn btn-default" type="submit" value="Назад" />
</form>